<div id="progress-bar"></div>
<div class="page-title">
  <h1> <%= link_to 'Duby Scripts', root_path, class: 'home-link' %> </h1>
</div>
<div class="prompt-input">
  <%= form_with url: openai_create_path, method: :post, data: {turbo: false} do |form| %>
    <div class="form-group">
      <%= form.label :genre, "Genre" %>
      <%= form.select :genre, @genres %>
      <%= form.label :location, "Location" %>
      <%= form.select :location, @locations %>
      <%= form.label :characters, "Characters" %>
      <%= form.text_field :characters %>
      <%= form.submit 'Generate Script' %>
    </div>
  <% end %>
</div>
<div class="selections">
  <% if @genre %>
    <div class="chip"> <%= @genre %> </div>
  <% end %>
  <% if @location %>
    <div class="chip"><%= @location %></div>
  <% end %>
  <% if @characters %>
    <% @characters.each do |c| %>
      <div class="chip"> <%= c %> </div>
    <% end %>
  <% end %>
</div>
<div class="row">
  <% if @response %>
    <h2>Script:</h2>
    <% @response.split("\n").each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>
  <% end %>
  <% if @error %>
    <h2>Error:</h2>
    <p><%= @error %></p>
  <% end %>
</div>
